@model IEnumerable<Bookstore.Web.Models.BookViewModel>
@using Bookstore.Web.Models.StaticData;

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .headText {
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        color: whitesmoke;
    }
</style>

<div class="card-header" style="background-image: url(/img/background.jpg);">
    <div class="text-center">
        <h2 class="display-4"><b class="headText">Welcome to bookstore</b></h2>
        <h3 class="headText">We make buying books easy and affordable.</h3>
    </div>

    <br />

    <form class="form-inline my-2 my-lg-0 justify-content-center">
        <input class="form-control col-md-4" type="text" placeholder="Search by book title">
        <button class="btn btn-secondary" type="submit">Search</button>
    </form>
</div>

<div class="card-body">
    <br />
    <hr />
    <h4><b>The latest added books</b></h4>
    <br />

    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-3">
                <a href="/Book/Books/@book.Id">
                    <div class="card mb-3">
                        <img src="~/img/book-default.jpg" height="270" alt="book image" />
                        <h4 class="card-header">@book.Title</h4>
                    </div>
                </a>
            </div>
        }
    </div>

    <hr />
    <h4><b>Bestselling books</b></h4>
    <br />

    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-3">
                <a href="/Book/Books/@book.Id">
                    <div class="card mb-3">
                        <img src="~/img/book-default.jpg" height="270" alt="book image" />
                        <h4 class="card-header">@book.Title</h4>
                    </div>
                </a>
            </div>
        }
    </div>

    <hr />
    <h4><b>Browse by subject</b></h4>
    <br />

    <div class="row justify-content-center">
        @for (int i = 0; i < 3; i++)
        {
            <div class="list-group col-md-3">
                @foreach (var category in Category.Categories.Skip(i * Category.Categories.Count / 3).Take(Category.Categories.Count / 3))
                {
                    <a href="/Book/BooksList?category=@category" class="list-group-item list-group-item-action">
                        @category
                    </a>
                }
            </div>
        }
    </div>

    <hr />
</div>